/* Navigation */

#nav ul {
  background-color: MintCream;
  border: 10px solid Snow;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: MediumSeaGreen;
  text-transform: uppercase;
  padding: 18px 18px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: SeaShell;
}

/* body */

body {
  background-color: SeaShell;
  text-align: center;
}

/* Headers & Subheaders */

h1 {
  color: LightPink;
  font-family: 'Comfortaa', cursive;
  font-size: 4.375em;
  margin: 50px;
  text-align: center;
}

h2.greentext {
  color: MediumSeaGreen;
  font-family: Futura, sans-serif;
  font-size: 3em;
  margin: 70px 120px;
  text-align: center;
}

h2.browntext {
  color: SandyBrown;
  font-family: Futura, sans-serif;
  font-size: 3em;
  margin: 25px 50px;
  text-align: center;
}

h2.pinktext {
  color: LightPink;
  font-family: Futura, sans-serif;
  font-size: 3em;
  margin: 25px 50px;
  text-align: center;
}

h3 {
  color: SandyBrown;
  font-family: Baskerville, serif;
  font-size: 1.25em;
  margin: 25px 50px;
  text-align: center;
}

/* Paragraphs */

p.filler {
  background-color: PeachPuff;
  border: 15px solid Snow;
  text-align: center;
  font-family: Baskerville, serif;
  font-size: 1.875em;
  max-width: 500px;
  height: auto;
  padding: 50px;
  margin: auto;  
}

/* Hyperlinks */

a:link {
  text-decoration: none;
  color: MediumSeaGreen;
}

a:visited {
  text-decoration: none;
  color: LightPink;  
}

a:hover {
  text-decoration: underline ;
  color: MintCream;
}

/* Images, Containers & Descriptions */

div.picleft {
  margin: 65px;
  border: 3px inset PaleGreen;
  float: left;
  width: 280px;
  height: 220px; 
  border-radius: 25px;
  background: MintCream;
  padding: 100px; 
}

div.picright {
  margin: 65px;
  border: 3px inset PaleGreen;
  float: right;
  width: 280px;
  height: 220px; 
  border-radius: 25px;
  background: MintCream;
  padding: 100px; 
}

div.picleft:hover {
  border: 3px inset LightPink;
  background: PeachPuff;
}

div.picright:hover {
  border: 3px inset LightPink;
  background: PeachPuff;
}

div.picleft img {
  margin: -63px;
  border: 3px solid LightPink;
  border-radius: 15px;
}

div.picright img {
  margin: -63px;
  border: 3px solid LightPink;
  border-radius: 15px;
}

div.picleft img:hover {
  border: 3px solid MintCream;
}

div.picleft img:hover {
  border: 3px solid MintCream;
}

div.piccenter {
  background: MintCream;
  border: 3px inset PaleGreen;
  width: 280px;
  height: 220px; 
  border-radius: 25px;
  padding: 100px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.piccenter img {
  margin: -63px;
  border: 3px solid LightPink;
  border-radius: 15px;
}

div.piccenter img:hover {
  border: 3px solid MintCream;
}
  
div.desc {
  margin: 62px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: center;
  color: SandyBrown;
}

div.desc:hover {
  color: MediumSeaGreen;
}

/* Resume page */

ul {
  list-style-type: none;
  text-align: center;
}

/* Art Portfolio Footer Text */

h4 {
  color: LightPink;
  font-family: Futura, sans-serif;
  margin: 25px 50px;
  text-align: center;
}
